@use '@angular/material' as mat;
@include mat.core();

$analog-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$analog-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$analog-warn: mat.m2-define-palette(mat.$m2-red-palette);
$analog-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $analog-primary,
      accent: $analog-accent,
      warn: $analog-warn,
    ),
  )
);

@include mat.all-component-themes($analog-theme);

/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

.toast-container {
  @apply z-[100] #{!important};

  &.toast-top-center {
    @apply flex flex-col items-center #{!important};

    .ngx-toastr {

      // 640px is Tailwind's "sm" breakpoint
      @media screen and (max-width: 639px) {
        @apply w-screen #{!important};
      }
    }
  }

}

.analog-markdown {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Helvetica', 'Arial', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.875em;
  }

  p {
    font-size: 18px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ul, ol {
    padding-left: 30px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: #1a0dab;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  table {
    border-spacing: 10px;
    display: block;
    width: 100%;
    overflow-x: auto;

    td {
      padding: 8px;
      text-align: center;
    }
  }
}
