@use '@angular/material' as mat;
@include mat.core();

$analog-primary: mat.define-palette(mat.$indigo-palette);
$analog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$analog-warn: mat.define-palette(mat.$red-palette);
$analog-theme: mat.define-light-theme(
  (
    color: (
      primary: $analog-primary,
      accent: $analog-accent,
      warn: $analog-warn,
    ),
  )
);

@include mat.all-component-themes($analog-theme);

/* Tailwind directives  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

.toast-container {
  @apply z-[100] #{!important};

  &.toast-top-center {
    @apply flex flex-col items-center #{!important};

    .ngx-toastr {

      // 640px is Tailwind's "sm" breakpoint
      @media screen and (max-width: 639px) {
        @apply w-screen #{!important};
      }
    }
  }

}

.analog-markdown {
  padding: 20px; /* Adds padding around the content */
  max-width: 800px; /* Sets a max-width for the content */
  margin: 0 auto; /* Centers the content */
  font-family: 'Helvetica', 'Arial', sans-serif; /* Sets a default font */
}

.analog-markdown h1 {
  font-size: 32px; /* Sets font size for h1 */
  font-weight: bold; /* Sets font weight for h1 */
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown h2 {
  font-size: 24px; /* Sets font size for h2 */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown h3 {
  font-size: 1.5em; /* Sets font size for h3 */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown h4 {
  font-size: 1.25em; /* Sets font size for h4 */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown h5 {
  font-size: 1em; /* Sets font size for h5 */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown h6 {
  font-size: 0.875em; /* Sets font size for h6 */
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.analog-markdown p {
  font-size: 18px; /* Sets font size for paragraph */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* You can also add styles for other elements like lists, links, etc. */
.analog-markdown ul,
.analog-markdown ol {
  padding-left: 20px; /* Adds indentation to lists */
}

.analog-markdown a {
  color: #1a0dab; /* Sets color for links */
  text-decoration: none; /* Removes underline from links */
}

.analog-markdown a:hover {
  text-decoration: underline; /* Underlines links on hover */
}

/* Additional styles for blockquotes, code, etc., can be added similarly */
